---
---

@import "{{ site.theme }}";

body {
  background-color: #000000;
  color: #c3110c; 
}

h1 {
  color: #cd1c18;
  text-align: center;
}

p {
  font-size: 20px;
  color: #e50000;
}
a {
  color: #ff0000;
  text-decoration: underline;
}

a:hover {
  color: #740a03;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;

header {

display: none;

}
